header {
    text-align: center;
    color: white;
    background-color: blue;
    padding: 5px;
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}

#left_container {
    padding: 20px;
    float: left;
    text-align: center;
    width: 40rem;
}

#user_input {
    width: 200px;
    height: 20px;
}

#searchBtn {
    background-color: blue;
    color: white;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

#right_container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 60rem;
}
.weather_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}